@import "./Variables.scss";

.formError {
  font-size: 12px;
  color: #da1414;
  padding: 0.3rem 0;
}

.container {
  min-height: calc(100vh - 2rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.active {
  background: $primary-background;
  color: #fff;
}

.tabbedNav {
  display: flex;
  list-style: none;
  width: 100%;
  padding: 2rem 0;

  li {
    flex-basis: 50%;

    &:nth-child(1) {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      overflow: hidden;
    }

    &:nth-child(2) {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      overflow: hidden;
    }
    button {
      width: 100%;
      border: none;
      padding: 1rem;
      font-family: "Poppins", sans-serif;
    }
  }
}

.formWrapper {
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  background: #fff;
  position: relative;
  border-radius: 10px;

  .fieldWrapper {
    margin: 1rem 0;
    display: block;
    .errors {
      font-size: 12px;
      color: $error-color;
      padding-bottom: 0.3rem;
    }
  }

  form {
    text-align: center; 

    button {
      background: $primary-background;
      border: none;
      color: #fff;
      padding: 1rem 2rem;
      border-radius: 10px;
      font-family: "Poppins", sans-serif;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 50%);
      position: absolute;

      &:hover {
        background: #323232;
      }

      &:active {
        background: $primary-background;
      }
    }
  }
}

.inputWrapper {
  position: relative;
  margin-top: 2rem;

  input {
    width: 100%;
    padding: 1rem;
    padding-left: 3rem;
    border-radius: 10px;
    border: none;
    background: $secondary;
    font-family: "Poppins", sans-serif;

    &:focus {
      outline: none !important;
      border: 3px solid $primary-background;

      & + .placeholder {
        background: $primary-background;
        padding: .1rem .4rem;
        border-radius: 5px;
        color: $secondary-text;
      }
    }
  }
  img {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
  }

  .placeholder {
    position: absolute;
    top: 0;
    transform: translateY(-52%);
    left: 3rem;
    font-size: 14px;
    color: $darker-text;
    z-index:1;
  }
}
