@import './Variables.scss';

.mainSection {
  padding: 2rem;
}

.uploadContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 60vw;
  border: 1px dashed $orange;
  cursor: pointer;
  margin-bottom: 1rem;
}

.uploadCall {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .uploadText {
    font-size: 14px;
    font-weight: 300;
    margin-top: 0.8rem;
  }

  img {
    width: 50px;
    height: 50px;
  }
}

.previewImage {
  width: 100%;
}

.previewRemover {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  background-color: $black;
  color: #fff;
  border-radius: 50px;
  padding: 0.5rem;
}

.dragZone {
  opacity: 0.5;
}

.textInput {
  background: none;
  color: $black;
  border: none;
  font-weight: 500;
  font-size: 16px;
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #cbcbd0;

  &::placeholder {
    color: #57606f;
  }

  &:focus {
    outline: none;
  }
}

textarea {
  background: none;
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 16px;
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid #cbcbd0;

  &::placeholder {
    color: #57606f;
  }

  font-family: 'Fira sans';
}

.publishButton {
  background: $orange;
  border: none;
  color: #fff;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.2rem;
  font-size: 1rem;
  cursor: pointer;
}

.success {
  background-color: #9ce2b6;
  color: #126d34;
  padding: 1rem;
  opacity: 0;
  transition: all 1s;
}

.showSuccess {
  opacity: 1;
  transition: all 1s;
}

@media (min-width: 768px) {
  .mainSection {
    max-width: 968px;
    margin: 3rem auto;
    background-color: #fff;
    border-radius: 10px;

    button {
      position: static;
      border-radius: 5px;
    }
  }
}
