@import './Variables.scss';

.errorModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid $secondary-border;
  border-radius: 5px;
  padding: 2rem;
  text-align: center;

  h4 {
    font-weight: 400;
  }

  p {
    color: $secondary-text;
  }
}
