@import './Variables.scss';

.mainMenu {
  z-index: 30;
  position: fixed;
  display: flex;
  transform: translateX(-100%);
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #f7f5fa;
  flex-direction: column;
  transition: all .5s;
  overflow-y: scroll;
  padding: 1rem;
  .closeButton {
    font-size: 24px;
    margin-right: 1rem;
    margin-top: 1rem;
    align-self: flex-end;
    background: none;
    border: none;
  } 
  ul {
    height: 100%;
    list-style: none;
    li {
      padding: 1rem;
      font-weight: 300;
      text-align: center;
      &:hover {
        background: $secondary-border;
      }
      a {
        color: $secondary-text;
        text-decoration: none;
        width: 100%;
        display: block;
      }

      &:last-child {
        position: absolute;
        border-top: 1px solid $secondary-border;
        padding: 2rem;
        bottom: 0;
        right: 0;
        left: 0;
        button {
          background: none;
          border: none;
          color: $secondary-text;
          padding: 1rem 2rem;
          font-family: 'Poppins';
          cursor: pointer;
          &:active {
          }
        }
      }
    }
  }
}

.userDetails {
  display: flex;
  padding: 1rem;
  align-items: center;
  border-bottom: 1px solid $secondary-border;
  figure {
    position: relative;
    .loader {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      

    }
    cursor: pointer;
    width: 50px;
    height: 50px;
    max-height: 50px;
    margin-right: 1rem;
    img {
      height: 100%;
max-width: 100%;
max-height: 100%;
width: 100%;
object-fit: cover;
border-radius: 50%;
    }
  }
  span {
    font-weight: 300;
  }

}

.mainMenu.show {
  transform: translateX(0);
}

@media (min-width: 968px) {
  .mainMenu {
    width: 30%;
    border-right: 1px solid $secondary-border;
  }
}
