.mainNav {
  background: #fff;
  padding: 1rem;
  .mainNavUl {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
    i {
      font-size: 24px;
      color: #989898;
    }
  }
}

