@import './Variables.scss';
.projectCard {
  width: 80%;
  background: #fff;
  margin: 1rem auto;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  border-radius: 3px;
  overflow: hidden;
  figure {
    max-height: 600px;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
}

.projectDetails {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;

  a {
    text-decoration: none;
    color: $black;
  }
  .leftDetails {
    width: 70%;
  }
  .rightDetails {
    text-align: right;
    span {
      font-size: 12px;
    }
  }

  .stackList {
    list-style: none;
    font-size: 12px;
  }
}

@media(min-width: 768px) {
  .projectCard {
    flex-basis: 48%;
  }
}

@media(min-width: 992px) {
  .projectCard {
    flex-basis: 30%
  }
}
