@import './Variables.scss';

.projectImage {
  position: relative;
}

.projectImageContainer {
  img {
    width: 100%;
  }
}

.main {
  padding-bottom: 50px;
}

.imageOverlay {
  position: absolute;
  display: flex;
  left: 20px;
  bottom: 20px;
  align-items: center;

  figure {
    width: 30%;
    max-width: 100px;
  }

  img {
    width: 100%;
    border-radius: 50%;
  }

  .overlayText {
    margin-left: 0.5rem;
  }
}

.projectDetails {
  padding: 1rem 2rem;

  p {
    margin-top: 1.5rem;
    text-align: left;
    font-size: 14px;
  }
}

.showMoreButton {
  background: none;
  border: none;
  margin: 0 auto;
  display: block;
  font-size: 18px;
}

.callToAction {
  background: $orange;
  width: 100%;
  position: fixed;
  bottom: 0;
  border: none;
  color: #fff;
  padding: 1.2rem;
  font-size: 16px;
  font-weight: 300;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;

  div {
    display: flex;
    align-items: center;
  }

  span {
    margin-right: 0.5rem;
  }

  i {
    font-size: 24px;
  }

  .orange {
    color: $orange;
  }
}

@media (min-width: 768px) {
  .projectSection {
    max-width: 968px;
    margin: 0 auto;
    margin-top: 3rem;
    border-radius: 10px;
    overflow: hidden;
    flex-wrap: wrap;
    //box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    button {
      position: static;
    }

    .projectImage {
      max-height: calc(100vh - 200px);
    }

    .projectDetails {
      background-color: #fff;
    }

    figure {
      max-height: inherit;
      border-radius: 10px;
      overflow: hidden;
    }
  }
}
