$primary-background: #000000;
$primary: $primary-background;
$secondary: #f6f6f6;
$primary-background-light: #ff6026;
$background: #efefef;
$black: #12263f;
$secondary-text: #b6b6b6;
$secondary-border: #d2ddec;
$darker-text: #969494;
$error-color: #d70025;
